@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Monckeberg";
    src: url("./assets/fonts/Monckeberg-Regular.woff") format("woff");
} 

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
} 

@font-face {
    font-family: "Adam";
    src: url("./assets/fonts/Adam-Light.ttf") format("truetype");
} 

@font-face {
    font-family: "Monument";
    src: url("./assets/fonts/MonumentExtended-Regular.otf") format("opentype");
} 

@font-face {
    font-family: "posterama";
    src: url("./assets/fonts/Posterama.ttf") format("opentype");
} 

@font-face {
    font-family: "KumbhSans";
    src: url("./assets/fonts/KumbhSans.ttf") format("opentype");
} 

body{
    background-color: black;
}

html{
    scroll-behavior: smooth;
}

