.flip-card {
    background-color: transparent;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
    
  .flip-card-back {
    transform: rotateX(180deg);
  }